include ../form-elements/forms.pug


mixin auditAdministration
	div(class="component-box")
		div(class="pmd-card")
			h1(style="padding: 5px;") Activity Audits
	div(class="component-box") 
		div(class="pmd-card dropdown-tab")  
			div(class="pmd-card-body") 
				//- +broadcastForm