div(id="content", class="pmd-content content-area dashboard", style="padding-bottom: 20px;")
	div(class="container-fluid")
		div(class="component-box") 
			div(class="pmd-card pmd-z-depth") 
				div(class="pmd-card-body")
					.row
						.col-md-8
							.row
								.col-md-4
								.col-md-4
									include items/summary-employees.pug
								.col-md-4
									include items/remainder-timeoff.pug
						.col-md-4
							include items/approved-timeoff.pug
					