div(id="content", class="pmd-content content-area dashboard", style="padding-bottom: 20px;")
	div(class="container-fluid")
		div(class="component-box") 
			div(class="pmd-card pmd-z-depth") 
				div(class="pmd-tabs")
					div(class="pmd-tab-active-bar", style="width: 104px; left: 0px;")
					ul(class="nav nav-tabs", role="tablist", style="width: 323.047px;")
						li(role="presentation", class="active")
							a(href="#general", aria-controls="general", role="tab", data-toggle="tab", aria-expanded="true") General Info
						li(role="presentation", class="")
							a(href="#payroll", aria-controls="payroll", role="tab", data-toggle="tab", aria-expanded="true") Payroll Info
						li(role="presentation", class="")
							a(href="#timeoff", aria-controls="timeoff", role="tab", data-toggle="tab", aria-expanded="true") Time Off
						li(role="presentation", class="")
							a(href="#overtime", aria-controls="overtime", role="tab", data-toggle="tab", aria-expanded="true") Overtime
						li(role="presentation", class="")
							a(href="#delegation", aria-controls="delegation", role="tab", data-toggle="tab", aria-expanded="true") Delegation

				div(class="pmd-card-body")
					div(class="tab-content")
						div(role="tabpanel", class="tab-pane active", id="general") 
							div(class="component-box")
								div(class="pmd-card pmd-z-depth pmd-card-custom-view")
									include items/myinfo/general.pug
						div(role="tabpanel", class="tab-pane", id="payroll") 
							div(class="component-box")
								div(class="pmd-card pmd-z-depth pmd-card-custom-view")
									include items/myinfo/payroll.pug
						div(role="tabpanel", class="tab-pane", id="timeoff") 
							div(class="component-box")
								div(class="pmd-card pmd-z-depth pmd-card-custom-view")
									include items/myinfo/timeoff.pug
						div(role="tabpanel", class="tab-pane", id="overtime") 
							div(class="component-box")
								div(class="pmd-card pmd-z-depth pmd-card-custom-view")
									include items/myinfo/overtime.pug
						div(role="tabpanel", class="tab-pane", id="delegation") 
							div(class="component-box")
								div(class="pmd-card pmd-z-depth pmd-card-custom-view")
									include items/myinfo/delegation.pug
