nav(class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth")
	div(class="container-fluid")
		div(class="pmd-navbar-right-icon pull-right navigation")
			div(class="dropdown notification icons pmd-dropdown")
				a(href="javascript:void(0)" title="Notification" class="dropdown-toggle pmd-ripple-effect" data-toggle="dropdown" role="button" aria-expanded="true")
					div(data-badge="3" class="material-icons md-light pmd-sm pmd-badge  pmd-badge-overlap") notifications_none
				div(class="dropdown-menu dropdown-menu-right pmd-card pmd-card-default pmd-z-depth" role="menu")
					div(class="pmd-card-title")
						div(class="media-body media-middle")
							a(href="notifications.html" class="pull-right") 3 new notification
							h3(class="pmd-card-title-text") Notification
					
					ul(class="list-group pmd-list-avatar pmd-card-list")
						li(class="list-group-item" style="display:none")
							p(class="notification-blank")
								span(class="dic dic-notifications-none")
								span You don´t have any notification
						
						li(class="list-group-item unread")
							a(href="javascript:void(0)")
								div(class="media-left")
									span(class="avatar-list-img40x40")
										img(alt="40x40" data-src="holder.js/40x40" class="img-responsive" src="/vendor/images/profile-1.png" data-holder-rendered="true")
								
								div(class="media-body")
									span(class="list-group-item-heading")
											span Prathit posted a new challaneg
									span(class="list-group-item-text") 5 Minutes ago
		div(class="navbar-header")
			a(href="javascript:void(0);" data-target="basicSidebar" data-placement="left" data-position="slidepush" is-open="true" is-open-width="1200" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle")
				i(class="material-icons md-light") menu
			a(href="index.html" class="navbar-brand") #{title}
