div(class="pmd-navbar-right-icon pull-right navigation", id="top-icon-menus")
    div(class="dropdown notification icons pmd-dropdown", style="float: left;")
        a(href="javascript:void(0)", title="Notification", class="dropdown-toggle pmd-ripple-effect", data-toggle="dropdown", role="button", aria-expanded="true")
            div(data-badge="0", class="material-icons md-light pmd-sm pmd-badge  pmd-badge-overlap") notifications_none
        div(class="dropdown-menu dropdown-menu-right pmd-card pmd-card-default pmd-z-depth", role="menu")
            div(class="pmd-card-title")
                div(class="media-body media-middle")
                    a(href="notifications.html", class="pull-right") 0 new notification
                    h3(class="pmd-card-title-text") Notification
            
            ul(class="list-group pmd-list-avatar pmd-card-list")
                li(class="list-group-item", style="display:block")
                    p(class="notification-blank")
                        span(class="dic dic-notifications-none")
                        span You don´t have any notification
                
                li(class="list-group-item unread")
                    a(href="javascript:void(0)")
                        //- div(class="media-left")
                        //- 	span(class="avatar-list-img40x40")
                        //- 		img(alt="40x40", data-src="holder.js/40x40", class="img-responsive", src="/vendor/images/profile-1.png", data-holder-rendered="true")
                        
                        //- div(class="media-body")
                        //- 	span(class="list-group-item-heading")
                        //- 			span Prathit posted a new challaneg
                        //- 	span(class="list-group-item-text") 5 Minutes ago
    div(class="dropdown notification icons pmd-dropdown", style="float: left; margin-left: 20px;")
        a(href="javascript:void(0)", title="Notification", class="dropdown-toggle pmd-ripple-effect", data-toggle="dropdown", role="button", aria-expanded="true")
            div(class="material-icons md-light pmd-sm pmd-badge  pmd-badge-overlap") person
        div(class="dropdown-menu dropdown-menu-right pmd-card pmd-card-default pmd-z-depth", role="menu", style="width: 180px;")
            ul(class="list-group pmd-list-avatar pmd-card-list")
                li(class="list-group-item unread")
                    a(href="/my-info")
                        div(class="media-left", style="padding: 0px;")
                            i(class="media-left media-middle material-icons", style="padding-right: 5px;") person
                        div(class="media-body", style="padding-top: 5px;")
                            span(class="list-group-item-heading")
                                span My Info
                li(class="list-group-item unread")
                    a(href="/my-info")
                        div(class="media-left", style="padding: 0px;")
                            i(class="media-left media-middle material-icons", style="padding-right: 5px;") settings
                        div(class="media-body", style="padding-top: 5px;")
                            span(class="list-group-item-heading")
                                span Settings
                li(class="list-group-item unread")
                    a(href="/logout")
                        div(class="media-left", style="padding: 0px;")
                            i(class="media-left media-middle material-icons", style="padding-right: 5px;") power_off
                        div(class="media-body", style="padding-top: 5px;")
                            span(class="list-group-item-heading")
                                span logout
