h3(class="text-muted") Avatar with text and icon
div(class="pmd-card pmd-z-depth")
    ul(class="list-group pmd-list pmd-card-list")
        li(class="list-group-item")
            div(class="media-left")
                a(href="javascript:void(0);", class="avatar-list-img")
                    img(class="img-responsive", src="http://propeller.in/components/list/img/40x40.png")

            div(class="media-body")
                h3(class="pmd-card-title-text") User 1
                span(class="pmd-card-subtitle-text") Approved
            i(class="material-icons media-right") check_box