<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Documentation V1</title>
    <link rel="stylesheet" type="text/css" href="/vendor/swagger/css/swagger-ui.css" >
    <link rel="icon" type="image/png" href="/vendor/swagger/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/vendor/swagger/img/favicon-16x16.png" sizes="16x16" />
    link(rel="stylesheet", href="/vendor/swagger/css/documentation.css")
  </head>

  <body>
    <div id="swagger-ui"></div>

    <script> window.swaggerURL="#{jsonApiSchema}"; </script>
    <script src="/vendor/swagger/js/swagger-ui-bundle.js"> </script>
    <script src="/vendor/swagger/js/swagger-ui-standalone-preset.js"> </script>
    <script src="/vendor/swagger/js/init.js"> </script>
  </body>
</html>