include sub-header.pug

if isDev
	<style>
	| div,span,ul,li { border: 0.1px solid #eeebeb; }
	</style>

mixin Header(opt= { title: "Smart HR", isLogin: true })
	nav(class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth")
		div(class="container-fluid")
			+headerMenus(opt)
			div(class="navbar-header")
				a(href="javascript:void(0);", data-target="basicSidebar", data-placement="left", data-position="slidepush", is-open="true", is-open-width="1200", class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle")
					i(class="material-icons md-light") menu
				a(href="index.html", class="navbar-brand")= title
