include ../form-elements/forms.pug

mixin generalInfo
	.component-box
		.pmd-card.pmd-card-custom-form
			.pmd-card-body
				form(id="form-about-company", onSubmit="fn.submitForm(this.id);")
					.row
						.col-md-5
							+inputTextField({name: "companyName", title: "Company Name", id: "company-name"})
							+inputTextField({name: "companyDetail.address", title: "Address", id: "main-address"})
							+inputTextField({name: "companyDetail.province", title: "Province", id: "company-province"})
							+inputTextField({name: "companyDetail.city", title: "City", id: "company-city"})

						.col-md-1
						.col-md-5
							+inputTextField({name: "companyDetail.postalCode", title: "Postal Code", id: "postal-code"})
							+inputTextField({name: "companyDetail.officePhone1", title: "Office Phone Number #1", id: "office-number1"})
							+inputTextField({name: "companyDetail.officePhone2", title: "Office Phone Number #2", id: "office-number2"})
							+inputTextField({name: "companyDetail.officeEmail", title: "Office Email", id: "office-email"})

							br
							+rippleButton({class: "btn-primary", style: "float: right;", title: 'Update'})

mixin aboutCompany
	div(class="component-box")
		div(class="pmd-card")
			h1(style="padding: 5px;") Company Information
	div(class="component-box") 
		div(class="pmd-card dropdown-tab")  
			div(class="pmd-tabs") 
				div(class="pmd-tab-active-bar") 
				ul(class="nav nav-tabs" role="tablist") 
					li(role="presentation" class="active") 
						a(href="#general-info" aria-controls="general-info" role="tab" data-toggle="tab") General
			
			div(class="pmd-card-body") 
				div(class="tab-content") 
					div(role="tabpanel" class="tab-pane active" id="general-info")
						+generalInfo