include ../form-elements/date-picker.pug

mixin calendar
	#wrap
		#calendar
				

mixin calendarAdministration
	div(class="component-box")
		div(class="pmd-card text-left")
			h1(style="padding: 5px;") Company Calendar
	div(class="component-box") 
		div(class="pmd-card dropdown-tab")  
			div(class="pmd-card-body") 
				+calendar