include ../form-elements/forms.pug

mixin calendar
	div(class="component-box")
		div(class="pmd-card pmd-card-custom-view")
			#wrap
				#calendar(style="min-height: 300px;")

mixin filterEvent
	.row
		.col-md-3
			+inputTextField({title: "Employee Name", id: "employee-name"})
		.col-md-3
			+inputTextField({type: 'date', name: 'date', title: 'Date', id: 'event-date'})
		.col-md-2
			+rippleButtonIcon({class: 'btn-primary', style: "float: right;min-width: 50px;margin-top:8px;", icon: 'search', id: 'employee-search'})

mixin allEvents
	div(class="component-box")
		div(class="pmd-card pmd-card-custom-view")
			div(class="pmd-table-card")
				.row
					.col-md-12
						+filterEvent
				hr
				table(class="table pmd-table")
					+generateTableHead(["#", "Event Date", "Who Invited", "Description", "Status", "Actions"])
					tbody
						tr
							td(data-title="#") 1
							td(data-title="Event Date") 20 Jul 2020 13:00
							td(data-title="Who Invited") All-Employees
							td(data-title="Description") Meeting For Launching the new Product
							td(data-title="Status") On Schedule
							td(data-title="Job Title") Tech Dev
							td(data-title="Actions")
								a(href="javascript:void(0);")
									i(class="material-icons md-dark pmd-sm") more_vert
						tr
							td(data-title="#") 2
							td(data-title="Event Date") 20 Jul 2020 13:00
							td(data-title="Who Invited") rohman, zaqi, daud, silvia, and many others
							td(data-title="Description") Meeting For Launching the new Product
							td(data-title="Status") On Schedule
							td(data-title="Job Title") Tech De
							td(data-title="Actions")
								a(href="javascript:void(0);")
									i(class="material-icons md-dark pmd-sm") more_vert

mixin subTab
	div(class="component-box")
		div(class="pmd-card dropdown-tab")  
			div(class="pmd-tabs") 
				div(class="pmd-tab-active-bar") 
				ul(class="nav nav-tabs" id="subtab-calendar" role="tablist" style="width: 300px;") 
					li(role="presentation" class="active" style="width: 150px;") 
						a(href="#company-calendar" aria-controls="company-calendar" role="tab" data-toggle="tab") Calendar
					li(role="presentation" class="" style="width: 150px;") 
						a(href="#all-events" aria-controls="all-events" role="tab" data-toggle="tab") All Events
			
			div(class="pmd-card-body") 
				div(class="tab-content") 
					div(role="tabpanel" class="tab-pane active" id="company-calendar")
						+calendar
					div(role="tabpanel" class="tab-pane" id="all-events")
						+allEvents
	script
		| setTimeout(function () {document.getElementById('subtab-calendar').setAttribute("style","width: 350px")}, 2 * 1000)

mixin calendarAdministration
	div(class="component-box")
		div(class="pmd-card text-left")
			h1(style="padding: 5px;") Company Calendar
	+subTab