mixin summaryOvertime
    h3(class="text-muted") Overtime Hours
    div(class="pmd-card pmd-card-media-inline pmd-card-default")
        div(class="pmd-card-media", style="margin-top: 0px; padding-left: 0px;border-left: 4px solid #beecbe")
            div(class="media-body", style="min-width: 100px;padding: 2px;")
                h2(class="pmd-card-title-text text-right", style="font-size: 3.3rem;") 120
                span(class="pmd-card-subtitle-text", style="float:right;") hours
            div(class="media-right media-middle")
                i(class="material-icons", style="font-size: 60pt;") update