include global-components/header.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{ title || 'Login' }
        script(src="/modules/listener.js")
        link(rel="stylesheet", href="//fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/propeller/css/propeller.min.css")
        link(rel="stylesheet", href="/vendor/propeller/css/propeller-theme.css")
        link(rel="stylesheet", href="/vendor/propeller/css/propeller-admin.css")
    body(class="body-custom")
        //- start content
        +Header({title, isLogin: false})
        div(class="logincard")
            div(class="pmd-card card-default pmd-z-depth")
                div(class="login-card")
                    div(class="pmd-card-body")
                        div(class="alert alert-success", role="alert") Oh snap! Change a few things up and try submitting again. 
                        div(class="form-group pmd-textfield pmd-textfield-floating-label")
                            label(for="inputError1", class="control-label pmd-input-group-label") Username or Email
                            div(class="input-group")
                                div(class="input-group-addon")
                                    i(class="material-icons md-dark pmd-sm") perm_identity
                                input(type="text", class="form-control", autocomplete="off", id="input-username", autofocus="true")
                        
                    div(class="pmd-card-footer card-footer-no-border card-footer-p16 text-center")
                        div(class="form-group clearfix")
                            div(class="pull-right forgot-password") Already Have account? 
                                a(href="/login") Login
                        
                        button(type="submit", class="btn pmd-ripple-effect btn-primary btn-block", onclick="fn.sendEmail();") Send
                        
        //- end content
        script(src="/vendor/jquery/jquery-1.12.2.min.js")
        script(src="/vendor/bootstrap/js/bootstrap.min.js")
        script(src="/vendor/propeller/js/propeller.js")
        script(src="/modules/utils.js")
        script(src="/modules/login.js")